.header {
display: flex; 
flex-direction: column;
align-items: center;
justify-content: center;
color: rgb(240, 76, 76)  ;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    width: 90px;
    color: rgb(240, 76, 76) ;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(226, 222, 222);
    margin-bottom: 20px;
}

.container {
    height: 450px;
    width: 450px;
    background-color: lightgoldenrodyellow;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.cell {
    height: 110px;
    width: 110px;
    background-color: darkslateblue;
    margin: 20px;  
    box-shadow: 10px 10px 9px rgb(124, 124, 124);
    transition: all 0.5s;
}

.cell:hover {
    border-radius: 15px;
    box-shadow: 10px 10px 9px rgb(32, 32, 32);

}